pypdf
dotenv
ipython
ipykernel
pydantic
ipykernel
wikipedia
langchain
langchain[google-genai]
langchain-core
langchain-tavily
langchain-community
langgraph
langgraph-cli[inmem]
langgraph-checkpoint-sqlite
